.login {
  display: flex;
  height: 100vh;
  width: 100%;

  .logo-container {
    width: 50%;
    max-width: 50%;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
      width: 400px;
    }
  }

  .form-container {
    width: 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 172, 174);
    text-align: center;

    .login-form {
      width: 40%;

      h2 {
        font-size: 2rem;
        margin-bottom: 30px;
      }

      p,a {
        font-size: small;
        text-align: justify;
      }

      form {
        margin-top: 50px;
        display: flex;
        flex-direction: column;

        input {
          border: solid #e7e5e5;
          border-radius: 5px;
          padding: 5px;
          margin: 10px 0;
        }


        .login-form-footer{
          display: flex;
          align-items: center;
          justify-content: space-between;

        }

        .form-checkbox{
          display: flex;
          align-items: center;

          p{
            margin-left: 10px;
          }


        }

        button {
          margin-top: 30px;
          background-color: #fb699f;
          color: #e7e5e5;
          padding: 5px;
          border: none;
          border-radius: 5px;
        }
      }
    }
  }
}
