.chat-content {
  padding: 40px;
  overflow: auto;
  overflow-x: hidden;

  .sender {
    background-color: rgb(247, 172, 174);
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
    margin-left: auto;
  }

  .recipient {
    background-color: gainsboro;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
  }



}
