/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

$highlightColor: #FB699F;
$primaryColor: rgb(247,172,174);
$secondaryColor: rgb(243, 190, 192);

html,
body,
#root {
  margin: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100vh;
}

body {
  background: white
}

a:-webkit-any-link {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

* {
  font-family: 'Varela Round', sans-serif;
}

p,h1,h2,h3 {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

:root {
  --card-background: #ffffff;
  --chat-background: #ffffff;
  --chat-background-hover: #efefef;
}

.card {
  padding: 10px;
  background-color: var(--card-background);
  border-radius: 8px;
  margin: 10px;
}

.elevation-20 {
  box-shadow: 1.6px 3.2px 3.2px hsl(0deg 0% 0% / 0.45);
}

.elevation-40 {
  box-shadow: 3.2px 6.4px 6.4px hsl(0deg 0% 0% / 0.4);
}

.elevation-60 {
  box-shadow: 4.8px 9.6px 9.6px hsl(0deg 0% 0% / 0.35);
}

.elevation-80 {
  box-shadow: 6.4px 12.8px 12.8px hsl(0deg 0% 0% / 0.3);
}

.elevation-100 {
  box-shadow: 8px 16px 16px hsl(0deg 0% 0% / 0.25);
}

.container-title {
  padding: 20px;
  font-weight: 700;
  position: sticky;
  top: 0;
  background-color: var(--chat-background);

  &::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -20px;
    height: 20px;
    background: var(--chat-background);
    background: linear-gradient(var(--chat-background) 20%, rgba(0, 0, 0, 0) 100%);
  }
}
