.login {
  display: flex;
  height: 100vh;
  width: 100%;

  .logo-container {
    width: 50%;
    max-width: 50%;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
      width: 400px;
    }
  }

  .form-container {
    width: 60%;
    max-width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(247, 172, 174);
    text-align: center;

    .login-form {
      width: 50%;

      h2 {
        font-size: 2rem;
        margin-bottom: 30px;
      }

      p,
      a {
        font-size: small;
        text-align: justify;
      }

      form {
        margin-top: 50px;
        display: flex;
        flex-direction: column;

        .login-form-footer {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 20px;

          .text-button {
            background: none;
            color: inherit;
            border: none;
            padding: 0;
            font: small;
            cursor: pointer;
            outline: inherit;
          }
        }

        .form-checkbox {
          display: flex;
          align-items: center;

          p {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
