.ChatPreview{
    display: flex;
    align-items: center;
    padding: 8px 5px;
    margin: 12px;
    border-radius: 10px;
    border-style: solid;
    border-color: #E7E5E5;
    transition: border-color 400ms;

    &:hover {
      border-color: rgb(247, 172, 174);
    }
    &:active {
      position: relative;
      top: 7px;
      box-shadow: none;
    }

  .profile-img{
    min-width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 10px;

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    }
  }

  .preview-texts{
    padding: 5px 10px;

    .preview-header{
      display: flex;
      align-items: center;
      justify-content: space-between;

      .chat-name{
        font-weight: bold;
      }

      .chat-time{
        font-size: small;
        color: gray;
      }
    }
    .preview-message{
      padding-top: 10px;
      width: 310px;
      display: flex;
      justify-content: space-between;

      p{
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: small
      }
      .unread-count{
        background-color: rgb(247, 172, 174);
    padding: 1px 8px 1px 5px;
    border-radius: 50%;
    text-overflow: inherit;
      }
    }
  }

}
